* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
  color: rgba(0,0,0,.8);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  padding: 0 15px;
}

h4 {
  font-size: 20px;
  font-family: monospace;
  font-weight: normal;
}

.relative {
  position: relative;
}

.paper {
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.block {
  display: block;
}

.attrs {
  width: 360px;

  .attrs-content {
    position: fixed;
    width: 360px;
    overflow-y: auto;
  }
}

.source-panel {
  line-height: 1;
  height: 30px;
  background: #3a539b;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;

  .code-icon {
    width: 24px;
    height: 24px;
    fill: #fff;
  }
}

.source-code {
  pre[class*="language-"] {
    margin: 0;
    max-height: 400px;
    overflow: auto;
  }
}
